VimL:" Perl cpanfile Fill Template
VimL:" hint: Used for Perl cpanfile module list
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
requires '<+Modern::Perl+>';
