VimL:" Perl script Fill Template
VimL:" hint: Used for Perl .pl script files
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
#!/usr/bin/env perl
# PODNAME: <+name of script+>
# ABSTRACT: <+description+>

use FindBin;
use lib "$FindBin::Bin/../lib";

use Modern::Perl;

sub main {
	...
}

main;
